header{
    width: 100vw;
    height: 8vh;
    background-color: rgb(40, 38, 38);
    color: #fff;
}

nav{
    display: flex;
}

.add-btn{
    padding:2px 4px;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(28, 132, 218);
    font-weight: 600;
}
